<!DOCTYPE html>
{% extends 'survey_app/base.html' %}
  {% load crispy_forms_tags %}
    {% block contant %}

  <head>
    <title>Survey Form</title>
  </head>
  <body>


    <!-- Define page size here -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 boxy">
        <!-- form is start from here -->

        <form method="Post">
          <h1 class="header">Feedback Survey</h1>

            {{form|crispy}}
            {% csrf_token %}
            <!-- <input type="submit" class="btn btn-primary" value="Submit"> -->
            <button type="submit" class="btn btn-success">Submit</button>

          </form>
      </div>
      </div>
    </div>

  {% endblock %}


  </html>
